@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&family=Rubik:wght@300;400;500;600;700&display=swap'); */
/* font-family: 'Karla', sans-serif; */
/* font-family: 'Rubik', sans-serif; */

.hero {
  height: 100vh;
  background: url('../assets/img-fallback.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
