@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&family=Rubik:wght@300;400;500;600;700&display=swap'); */
/* font-family: 'Karla', sans-serif; */
/* font-family: 'Rubik', sans-serif; */

/* .hero {
  background: url('../assets/img-fallback.jpg') no-repeat;
  background-size: cover;
  background-position: center;
} */

/* * {
  outline: 1px solid red;
} */

.header-scrolled {
  background: #fff !important;
}

.menu-open-bg {
  background: #fff !important;
}

.header-scrolled img {
  height: 58px;
}

.header-scrolled a {
  color: #202020 !important;
}

.header-scrolled .dropdown {
  color: #202020 !important;
}

.header-scrolled .btn-wpp {
  border-color: #202020 !important;
  color: #202020 !important;
  /* max-height: 50px; */
}
.header-scrolled .btn-wpp:hover {
  background: #202020 !important;
  color: #fff !important;
}

.ham-btn-scrolled {
  color: #202020 !important;
}

.card-01 {
  background-image: url('../assets/servicos/01.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.card-02 {
  background-image: url('../assets/servicos/02.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.card-03 {
  background-image: url('../assets/servicos/03.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.card-04 {
  background-image: url('../assets/servicos/04.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  background: #ffffff;
  /* width: 475px; */
  width: 80%;
  /* height: 785px; */
  height: fit-content;

  /* box-shadow: 0px 104px 104px -40px rgba(0, 0, 0, 0.16); */
}

.hero {
  height: 120vh;
}

.hero-vid {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%; */
  height: 120vh;
  z-index: -2;
  max-height: 1440px;

  object-fit: cover;
  overflow-clip-margin: content-box;
  overflow: clip;
}
.overlay-black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  background: rgba(0, 0, 0, 0.35);
  z-index: -1;
}

.img-maq {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.services {
  height: 500px;
}

.transition-custom {
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1024px) {
  .hero-vid {
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .hero-vid {
    min-height: 80vh !important;
  }
  .overlay-black {
    min-height: 80vh !important;
  }
  .hero {
    min-height: 80vh;
  }
}

/* 
* {
  outline: 1px solid red;
} */
